@import '~@angular/material/theming';

@mixin navtabs-components-theme($thehotel) {

    $primary: map-get($thehotel, 500);
    $accent: map-get($thehotel, 300);
    $warn: map-get($thehotel, 900 );

    .navtabs-container {
        background-color: mat-color($thehotel-accent);
    }
}